

/* Footer */
.footer {
    background: var(--text-dark);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
}

.footer p {
    margin: 0;
}

.footer i {
    color: var(--primary-color);
    margin: 0 5px;
}
