/* Footer */

.footer {
  background: var(--text-dark);
  color: var(--white);
  text-align: center;
  padding: 2rem 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  box-sizing: border-box;
}

.footer p {
    margin: 0;
}

.footer i {
    color: var(--primary-color);
    margin: 0 5px;
}

